%YAML 1.1
%TAG !u! tag:unity3d.com,2011:
--- !u!114 &11400000
MonoBehaviour:
  m_ObjectHideFlags: 0
  m_CorrespondingSourceObject: {fileID: 0}
  m_PrefabInstance: {fileID: 0}
  m_PrefabAsset: {fileID: 0}
  m_GameObject: {fileID: 0}
  m_Enabled: 1
  m_EditorHideFlags: 0
  m_Script: {fileID: 11500000, guid: d81b8508c4d22b04ca6f890ecc395b85, type: 3}
  m_Name: SDKConfig
  m_EditorClassIdentifier: 
  signatures: 0
  adsConfig:
    isEnable: 1
    mopubAdsConfig:
      isEnable: 1
      isDebugMode: 0
      Priority: 1
      adParamsList:
      - name: 
        adUnitId_Android: 9730747fae41498b8cb6ec3bbe8db485
        adUnitId_ios: 
        adType: 2
        adPosition: 0
        adInterfaceGroup: 2
      bannerRefreshDuration: 30
      anyAdUnit: 9730747fae41498b8cb6ec3bbe8db485
      androidAppID: 
      iosAppID: 
  dataAnalysisConfig:
    firebaseDataConfig:
      isEnable: 1
      isDebugMode: 0
      Priority: 1
    facebookConfig:
      isEnable: 1
      isDebugMode: 0
      Priority: 1
    adjustAdapterConfig:
      isEnable: 1
      isDebugMode: 0
      Priority: 1
      m_AppToken: 86gncvuyw7wg
      m_AdjustEnvironment: 0
      m_AdjustLogLevel: 2
      m_EventBuffering: 1
      m_SendInBackground: 1
